<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <form [formGroup]="planeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Compañia</label>
        <input type="text" class="form-control" formControlName="compañia" required>
      </div>

      <div class="form-group">
        <label>Fabricante</label>
        <input type="text" class="form-control" formControlName="fabricante" required>
      </div>

      <div class="form-group">
        <label>Modelo</label>
        <input type="text" class="form-control" formControlName="modelo" required>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Añadir avión</button>
      </div>
    </form>
  </div>
</div>
